@charset "UTF-8";
/** コンテンツレイアウト **/
.faq .p-content__title {
  background-repeat: no-repeat; }

.faq .p-content__title__text {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat; }

.faq .p-content__item {
  width: 100%;
  max-width: unset;
  margin: 27px 0;
  padding: 4px;
  color: #fff;
  background-color: #45c5ea; }

.faq .p-content__item.--first {
  margin-top: 0; }

.faq .p-content__item.--last {
  margin-bottom: 0; }

.faq .p-content__item input:checked ~ div {
  margin-top: 7px;
  padding: 22px 40px 30px; }

.faq .p-content__item input:checked + label > span {
  border-top: none;
  border-bottom: 15px solid #ffffff; }

.faq .p-content__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  background-color: #45c5ea; }

.faq .p-content__caption__text {
  width: 100%;
  margin: 10px 0; }

.faq .p-content__arrow {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid #fff; }

.faq .p-content__contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff; }

.faq .p-content__contents {
  margin-left: 20px;
  padding-top: 8px; }

.faq .p-content__contents-inner {
  margin-bottom: 15px; }

.faq .p-content__contents__text {
  display: block;
  color: #000; }

.faq .p-content__contents__text.--title {
  color: #45c5ea;
  font-weight: bold;
  font-size: 20px; }

.faq .p-content__contents__shedule img {
  height: 165px; }
