.l-header {
  &__wrapper {
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 2px 12px #878787;
    z-index: 3;
  }

  &__title {
    display: flex;
    align-items: center;
    font-size: 9px;
  }

  &__logo {
    img {
      height: 50px;
      margin: 2px 0;
    }
  }

  &__humburger {
    position: relative;
    display: grid;
    flex-direction: column;
    width: 50px;
    padding: 17px 12px 9px;

    & > span {
      display: inline-block;
      width: 100%;
      border-top: 2px solid $main-color;
      transition: 0.5s;
    }
    .over {
      visibility: visible;
      opacity: 1;
      transition: 0.5s;
    }

    &.-open {
      .over {
        visibility: hidden;
        opacity: 0;
      }

      span {
        position: absolute;
        top: 50%;
        left: 20%;
        width: 50%;

        &:first-child {
          transform: rotate(45deg);
        }

        &:last-child {
          transform: rotate(135deg);
        }
      }
    }
  }

  &__container {
    position: fixed;
    top: -35vh;
    width: 100%;
    background-color: $main-light-color;
    transition: 0.5s;
    z-index: 2;

    &__list {
      display: flex;
      flex-direction: column;
    }

    &__item {
      border-top: 1px solid #fff;
    }

    &__link {
      display: block;
      padding: 13px;
      color: #000;
      font-weight: bold;
    }

    &.-open {
      top: 54px;
    }

    @media screen and (min-width: 768px) {
      top: 54px;
      right: -30%;
      width: 30%;
      height: 100vh;

      &.-open {
        right: 0;
      }
    }
  }

  &__mv {
    &__item {
      margin-bottom: 2px;
    }

    &__link {
      height: 100%;
    }

    &__img {
      width: 100%;
      height: 22vw;
      box-shadow: 1px 1px 4px #707070;
    }
  }
}

.l-overlay {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
  z-index: 1;
}
