@import "../foundation/mixin";

// 縦横比指定
.c-aspectRatio {
  position: relative;
  width: 100%;

  &__inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// サークルアイコン
.c-circle {
  content: "";
  display: inline-block;
  background-color: #000;
  height: 30px;
  width: 30px;
  margin-right: 3px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  top: -2px;
}

.c-section {
  align-self: flex-start;

  &__inner {
    @media screen and (min-width: 768px) {
      height: 100%;
    }
  }

  &__title__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px 15px;
    border-bottom: solid 4px $sub-color;
  }

  &__title {
    margin: 0;
    font-size: 1.6rem;

    @media screen and (min-width: 768px) {
      font-size: 25px;
    }
  }

  &__listLink {
    &:after {
      content: ">>";
      display: inline-block;
      margin-left: 5px;
    }
  }

  &__list {
    margin: 0 0.5px 0.5px 0;
    padding: 10px;
    background: #f5f5f5;

    @media screen and (min-width: 768px) {
      //height: 83.5%;
      overflow-y: auto;
    }
  }

  &__item {
    padding: 15px 0;
    border-top: solid 1px $main-light-color;

    &:first-child {
      border-top: none;
    }

    &__thumb {
      width: 140px;
      img {
        border: 1px solid #ddd;
      }
    }
  }

  &__article {
    margin-left: 15px;
    flex: 1;

    &__category {
      display: inline-block;
      height: fit-content;
      margin-right: 5px;
      padding: 2px 4px;
      color: #fff;
      background-color: $main-color;
      box-shadow: 2px 2px 2px $main-light-color;
      font-size: 3.3vw;
      font-weight: bold;
      white-space: pre;

      &.-game {
        background-color: lightskyblue;
        box-shadow: 2px 2px 2px darkgrey;
      }

      &.-doujin {
        background-color: palevioletred;
        box-shadow: 2px 2px 2px lightcoral;
      }

      &.-news {
        background-color: darkmagenta;
        box-shadow: 2px 2px 2px lightcoral;
      }

      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }

    &__title {
      display: inline;
      margin: 0;

      a {
        font-size: 4vw;
        color: $sub-color;

        @media screen and (min-width: 768px) {
          font-size: 20px;
        }
      }
    }

    &__text {
      margin: 4px 0;
      font-size: 3.6vw;

      @media screen and (min-width: 768px) {
        font-size: 16px;
      }
    }

    &__link {
      display: block;
      text-align: right;
      font-size: 3.5vw;

      &:after {
        content: ">>";
        display: inline-block;
        margin-left: 5px;
      }

      @media screen and (min-width: 768px) {
        font-size: 15px;
      }
    }

    &__time {
      display: block;
      text-align: right;
      font-size: 3.5vw;

      @media screen and (min-width: 768px) {
        font-size: 15px;
      }
    }
  }
}
