/* --------------------------------------------------
  display
-------------------------------------------------- */
@include deviceSP {
  .u-pc {
    display: none;
  }
}
@include devicePC {
  .u-sp {
    display: none;
  }
}

/* --------------------------------------------------
  cleafix
-------------------------------------------------- */
.u-clearfix {
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

/* --------------------------------------------------
  align
-------------------------------------------------- */
.u-alignL {
  text-align: left;
}
.u-alignC {
  text-align: center;
}
.u-alignR {
  text-align: right;
}

/* --------------------------------------------------
  margin
-------------------------------------------------- */
.u-margin {
  &.-short {
    margin-bottom: 16px;
  }
  &.-middle {
    margin-bottom: 32px;
  }
  &.-large {
    margin-bottom: 64px;
  }
}

/* --------------------------------------------------
  padding
-------------------------------------------------- */
// 縦横比指定
.-ratio16-9 {
  padding-top: (9/16) * 100%;
}
.-ratio4-3 {
  padding-top: (3/4) * 100%;
}

/* --------------------------------------------------
  underline
-------------------------------------------------- */
.u-underline {
  text-decoration: underline;
}

/** 固有のクラス **/
$CLASSNUM: 200; // for文のクラス数

/* --------------------------------------------------
  margin
-------------------------------------------------- */
@for $i from 1 through $CLASSNUM {
  .u-mt-#{$i} {
    margin-top:#{$i}px;
  }
  .u-mb-#{$i} {
    margin-bottom:#{$i}px;
  }
  .u-ml-#{$i} {
    margin-left:#{$i}px;
  }
  .u-mr-#{$i} {
    margin-right:#{$i}px;
  }
}

/* --------------------------------------------------
  padding
-------------------------------------------------- */
@for $i from 1 through $CLASSNUM {
  .u-pt-#{$i} {
    padding-top:#{$i}px;
  }
  .u-pb-#{$i} {
    padding-bottom:#{$i}px;
  }
  .u-pl-#{$i} {
    padding-left:#{$i}px;
  }
  .u-pr-#{$i} {
    padding-right:#{$i}px;
  }
}

/* --------------------------------------------------
  font-weight
-------------------------------------------------- */

@for $i from 1 through 9 {
  .u-fw-#{$i * 100} {
    font-weight:#{$i * 100}px;
  }
}

/* --------------------------------------------------
  font-size
-------------------------------------------------- */

@for $i from 10 through 50 {
  .u-fs-#{$i} {
    font-size:#{$i}px;
  }
}