@charset "UTF-8";
/** オススメ **/
.p-recommended__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 55px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.p-recommended__title__text {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 145px 20px;
  text-align: center;
  font-size: 34px;
  background-image: url(../img/interview_title.png);
  background-repeat: no-repeat;
  background-size: cover; }

.p-recommended__title__text:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 40px;
  /*下線の幅*/
  height: 5px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #11c6e7;
  /*下線の色*/
  z-index: 1; }
