@charset "UTF-8";
/* Sanitize
 * ========================================================================== */
/**
 * Add border box sizing in all browsers (opinionated).
 */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritance in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Use the default cursor in all browsers (opinionated).
 * 2. Change the line height in all browsers (opinionated).
 * 3. Use a 4-space tab width in all browsers (opinionated).
 * 4. Remove the grey highlight on links in iOS (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *		IE on Windows Phone and in iOS.
 * 6. Breaks words to prevent overflow in all browsers (opinionated).
 */
html {
  cursor: default;
  /* 1 */
  line-height: 1.5;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
  tab-size: 4;
  /* 3 */
  -webkit-tap-highlight-color: transparent;
  /* 4 */
  -ms-text-size-adjust: 100%;
  /* 5 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
  word-break: break-word;
  /* 6 */ }

/* Sections
 * ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Edge, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
 * ========================================================================== */
/**
 * Remove the margin on nested lists in Chrome, Edge, IE, and Safari.
 */
dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0; }

/**
 * Remove the margin on nested lists in Edge 18- and IE.
 */
ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0; }

/**
 * 1. Add the correct sizing in Firefox.
 * 2. Show the overflow in Edge 18- and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Add the correct display in IE.
 */
main {
  display: block; }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none;
  padding: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
 * ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Add the correct text decoration in Edge 18-, IE, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/* Embedded content
 * ========================================================================== */
/*
 * Change the alignment on media elements in all browsers (opinionated).
 */
img {
  max-width: 100%;
  height: auto; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: top; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on iframes in all browsers (opinionated).
 */
iframe {
  border-style: none; }

/**
 * Remove the border on images within links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg:not([fill]) {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data
 * ========================================================================== */
/**
 * Collapse border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse; }

/* Forms
 * ========================================================================== */
/**
 * Remove the margin on controls in Safari.
 */
button,
input,
select {
  margin: 0; }

/**
 * 1. Show the overflow in IE.
 * 2. Remove the inheritance of text transform in Edge 18-, Firefox, and IE.
 */
button {
  overflow: visible;
  /* 1 */
  text-transform: none;
  /* 2 */ }

/**
 * Correct the inability to style buttons in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * 1. Change the inconsistent appearance in all browsers (opinionated).
 * 2. Correct the padding in Firefox.
 */
fieldset {
  border: 1px solid #a0a0a0;
  /* 1 */
  padding: 0.35em 0.75em 0.625em;
  /* 2 */ }

/**
 * Show the overflow in Edge 18- and IE.
 */
input {
  overflow: visible; }

/**
 * 1. Correct the text wrapping in Edge 18- and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  white-space: normal;
  /* 1 */
  color: inherit;
  /* 2 */ }

/**
 * 1. Add the correct display in Edge 18- and IE.
 * 2. Add the correct vertical alignment in Chrome, Edge, and Firefox.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the inheritance of text transform in Firefox.
 */
select {
  text-transform: none; }

/**
 * 1. Remove the margin in Firefox and Safari.
 * 2. Remove the default vertical scrollbar in IE.
 * 3. Change the resize direction in all browsers (opinionated).
 */
textarea {
  margin: 0;
  /* 1 */
  overflow: auto;
  /* 2 */
  resize: vertical;
  /* 3 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS.
 */
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Remove the inner border and padding of focus outlines in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus outline styles unset by the previous rule in Firefox.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove the additional :invalid styles in Firefox.
 */
:-moz-ui-invalid {
  box-shadow: none; }

/* Interactive
 * ========================================================================== */
/*
 * Add the correct display in Edge 18- and IE.
 */
details {
  display: block; }

/*
 * Add the correct styles in Edge 18-, IE, and Safari.
 */
dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content; }

dialog:not([open]) {
  display: none; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
 * ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction
 * ========================================================================== */
/*
 * 1. Remove the tapping delay in IE 10.
 * 2. Remove the tapping delay on clickable elements
			in all browsers (opinionated).
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation;
  /* 2 */ }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* Accessibility
 * ========================================================================== */
/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements in all browsers (opinionated).
 */
[aria-disabled="true"],
[disabled] {
  cursor: not-allowed; }

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */
[aria-hidden="false"][hidden] {
  display: initial; }

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute; }

/**
 * Add
 */
dl dd {
  margin-left: 0; }

figure {
  margin: 0; }

table {
  table-layout: fixed; }

menu {
  padding: 0; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  line-height: 1.8; }

@media screen and (max-width: 767px) {
  body {
    line-height: 1.5;
    min-width: 1%;
    overflow-x: hidden;
    position: relative; } }

/* mouseover
--------------------------------------------------*/
@media screen and (min-width: 768px) {
  .over:hover {
    opacity: 0.6;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; } }

/* link
--------------------------------------------------*/
a {
  color: #0851d7;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s; }
  a:link, a:active, a:visited {
    text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s; }

/** 共通の標準スタイル **/
html {
  line-height: 1.7; }

h2 {
  margin: 0;
  line-height: 1.3;
  font-size: 35px;
  font-weight: 500;
  white-space: nowrap; }

body {
  width: calc(100vw - 17px);
  min-width: 1366px;
  font-family: "Noto Sans CJK JP";
  background-repeat: no-repeat; }

h1, h2 {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.4; }

h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

/** 共通ヘッダー **/
.l-header {
  background: #fff;
  -webkit-box-shadow: 3px 3px 10px #cdcdcd;
  box-shadow: 3px 3px 10px #cdcdcd; }
  .l-header__container.--pc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px; }
  .l-header__container-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 300px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 21px; }
  .l-header__container-title a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .l-header__container-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: 0; }
  .l-header__container-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .l-header__container-item p {
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3; }
  .l-header__container-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .l-header__container-item img {
    height: 80px; }
  .l-header__container-item--darkblue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: darkblue;
    color: #feffff; }
  .l-header__menu-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 100%;
    font-size: 15px;
    font-family: monospace; }

.l-footer__diagnosis {
  margin-top: 70px;
  background-image: url(https://placehold.jp/00ffcc/ffffff/1366x750.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .l-footer__diagnosis__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 134px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .l-footer__diagnosis__title {
    width: 790px;
    margin: 0;
    padding: 83px 0 63px;
    text-align: center;
    line-height: 1.3;
    background-image: url(https://placehold.jp/ffff00/ffffff/370x200.png); }
  .l-footer__diagnosis__caption-wrapper {
    position: relative; }
  .l-footer__diagnosis__caption__img {
    position: absolute;
    top: 15px;
    left: -15px; }
  .l-footer__diagnosis__caption-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 44px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .l-footer__diagnosis__caption__text {
    margin: 0;
    padding-right: 20px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2;
    background-image: url(https://placehold.jp/00ff00/ffffff/570x50.png);
    background-size: cover; }
  .l-footer__diagnosis .--emphasis {
    padding: 7px 34px 0 30px;
    font-size: 30px;
    font-weight: bold;
    background-image: url(https://placehold.jp/00ff00/ffffff/346x50.png); }
  .l-footer__diagnosis__inner {
    position: relative;
    width: 750px;
    margin-top: 50px;
    background: blue;
    text-align: center; }
  .l-footer__diagnosis__inner__title {
    margin-top: 50px;
    margin-bottom: 15px;
    font-size: 38px;
    color: #45c5ea; }
  .l-footer__diagnosis__inner__text {
    margin: 0;
    margin-bottom: 47px;
    font-size: 20px;
    font-weight: bold; }
  .l-footer__diagnosis__inner__icon {
    position: absolute;
    right: 25px;
    top: 70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000; }
    .l-footer__diagnosis__inner__icon::before {
      border-style: solid;
      border-width: 0 2.5px 2.5px 0;
      content: "";
      display: inline-block;
      position: absolute;
      height: 9px;
      width: 9px;
      border-color: #fff;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
      right: 15px;
      top: 21px; }
      @media screen and (max-width: 767px) {
        .l-footer__diagnosis__inner__icon::before {
          height: 4.5px;
          width: 4.5px; } }
    .l-footer__diagnosis__inner__icon::after {
      content: "";
      position: absolute;
      left: 16px;
      top: 24px;
      width: 18px;
      border-bottom: 2.5px solid #fff; }
  .l-footer__diagnosis__top {
    position: absolute;
    right: 0;
    bottom: 110px; }

.l-footer__copyright {
  background-color: #1d2089; }

.l-footer__copyright-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #fff; }

/** ハンバーガー **/
.l-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 15%; }
  .l-hamburger div {
    height: 100%; }
  .l-hamburger div:nth-child(n + 1) {
    border-bottom: 2px solid #fff; }

.l-content {
  position: relative;
  height: 100%;
  width: 1100px;
  margin: 0 auto; }

.c-aspectRatio {
  position: relative;
  width: 100%; }
  .c-aspectRatio__inside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.c-circle::before, .c-circle::after {
  content: "";
  display: inline-block;
  background-color: #000;
  height: 30px;
  width: 30px;
  margin-right: 3px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  top: -2px; }

.c-navigation-icon {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000; }
  .c-navigation-icon::before {
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
    display: inline-block;
    position: absolute;
    height: 6px;
    width: 6px;
    border-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
    bottom: 6px; }
    @media screen and (max-width: 767px) {
      .c-navigation-icon::before {
        height: 3px;
        width: 3px; } }
  .c-navigation-icon::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 6px;
    height: 11px;
    border-right: 2px solid #fff; }

.c-accordion {
  margin: 2em 0;
  padding: 0;
  max-width: 400px; }
  .c-accordion label {
    display: block;
    margin: 1.5px 0;
    padding: 5px 25px;
    color: #fff;
    font-weight: bold;
    background: #a4cbf3;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .c-accordion label:hover {
      opacity: 0.7; }
  .c-accordion input {
    display: none; }
  .c-accordion__accshow {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
  .c-accordion__cssacc:checked ~ .c-accordion__accshow {
    height: auto;
    opacity: 1; }

/* --------------------------------------------------
  display
-------------------------------------------------- */
@media screen and (max-width: 767px) {
  .u-pc {
    display: none; } }

@media screen and (min-width: 768px) {
  .u-sp {
    display: none; } }

/* --------------------------------------------------
  cleafix
-------------------------------------------------- */
.u-clearfix:after {
  display: block;
  clear: both;
  content: ""; }

/* --------------------------------------------------
  align
-------------------------------------------------- */
.u-alignL {
  text-align: left; }

.u-alignC {
  text-align: center; }

.u-alignR {
  text-align: right; }

/* --------------------------------------------------
  margin
-------------------------------------------------- */
.u-margin.-short {
  margin-bottom: 16px; }

.u-margin.-middle {
  margin-bottom: 32px; }

.u-margin.-large {
  margin-bottom: 64px; }

/* --------------------------------------------------
  padding
-------------------------------------------------- */
.-ratio16-9 {
  padding-top: 56.25%; }

.-ratio4-3 {
  padding-top: 75%; }

/* --------------------------------------------------
  underline
-------------------------------------------------- */
.u-underline {
  text-decoration: underline; }

/** 固有のクラス **/
/* --------------------------------------------------
  margin
-------------------------------------------------- */
.u-mt-10 {
  margin-top: 10px; }

.u-mt-15 {
  margin-top: 15px; }

.u-mt-25 {
  margin-top: 25px; }

.u-mt-50 {
  margin-top: 50px; }

.u-mt-60 {
  margin-top: 60px; }

.u-mt-80 {
  margin-top: 80px; }

.u-mt-150 {
  margin-top: 150px; }

.u-mb-10 {
  margin-bottom: 10px; }

.u-mb-25 {
  margin-bottom: 25px; }

.u-mb-35 {
  margin-bottom: 35px; }

.u-ml-20 {
  margin-left: 20px; }

.u-ml-35 {
  margin-left: 35px; }

.u-ml-47 {
  margin-left: 47px; }

.u-ml-70 {
  margin-left: 70px; }

.u-ml-77 {
  margin-left: 77px; }

.u-mr-10 {
  margin-right: 10px; }

.u-mr-20 {
  margin-right: 20px; }

.u-mr-70 {
  margin-right: 70px; }

.u-mr-77 {
  margin-right: 77px; }

.u-mr-80 {
  margin-right: 80px; }

.u-mr-100 {
  margin-right: 100px; }

/* --------------------------------------------------
  height
-------------------------------------------------- */
.u-height-max {
  height: 100%; }

.u-height-336 {
  height: 336px; }

/* --------------------------------------------------
  font-weight
-------------------------------------------------- */
.u-fw-600 {
  font-weight: 600; }

/* --------------------------------------------------
  font-size
-------------------------------------------------- */
.u-fs-17 {
  font-size: 17px; }

/*** TOP ***/
/****************************** メインページ ******************************/
/*--- メイン ---*/
.top {
  width: 100%; }

/** バナー **/
.p-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.p-banner__main {
  height: 547px;
  -webkit-box-shadow: 0 0px 100px -60px #444;
  box-shadow: 0 0px 100px -60px #444;
  z-index: -1; }

.p-banner__female {
  position: absolute;
  left: 58px;
  bottom: 0; }

.p-banner__male {
  position: absolute;
  right: 10px;
  bottom: 0; }

.p-banner__line {
  position: absolute;
  left: auto;
  top: 296px; }

/** コンテンツナビ **/
.p-main-navigation {
  background-color: #fffb5b; }

.p-main-navigation__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  padding: 16px 0 22px;
  list-style: none; }

.p-main-navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 9px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 3px 4px #11c6e7;
  box-shadow: 3px 4px #11c6e7; }

.p-main-navigation__text {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  white-space: pre; }

.p-main-navigation__arrow {
  display: inline-block;
  position: relative;
  width: 27px;
  height: 23px;
  margin: 0 10px;
  border-radius: 50%;
  background-color: black; }

.p-main-navigation__arrow::before {
  position: absolute;
  content: "";
  left: 11px;
  top: 5px;
  width: 1px;
  height: 10px;
  background: #fff; }

.p-main-navigation__arrow::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 9px;
  width: 5px;
  height: 5px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/** コンテンツ **/
.p-trouble__title {
  width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/trouble_title_back.png);
  background-repeat: no-repeat;
  background-size: cover; }

.p-trouble__title__text {
  position: relative;
  padding: 55px 0px 18px;
  text-align: center; }

.p-trouble__title__text:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 40px;
  /*下線の幅*/
  height: 5px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #11c6e7;
  /*下線の色*/
  z-index: 1; }

.p-trouble__contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-image: url(../img/trouble_back.png);
  background-size: cover; }

.p-trouble__contents1 {
  width: 610px;
  height: 275px;
  margin-top: 25px;
  background-image: url(../img/trouble_back_img.png); }

.p-trouble__contents1__list {
  height: 100%;
  padding: 63px 80px 50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.p-trouble__contents2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: -45px; }

.p-trouble__contents2__profile {
  margin-right: 5px; }

.p-trouble__contents2-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 44px 0 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.p-trouble__contents2__text {
  margin-top: 29px;
  padding: 6px 15px 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 20px;
  background-image: url(../img/trouble_text1_img.png);
  background-repeat: no-repeat;
  background-size: cover; }

.p-trouble__contents2__text:nth-child(n + 2) {
  margin-top: 0;
  margin: 7px 0;
  padding: 4px 15px;
  color: #fff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 23px;
  background-repeat: no-repeat;
  background-size: cover; }

.--second {
  background-image: url(../img/trouble_text2_img.png); }

.--third {
  background-image: url(../img/trouble_text3_img.png); }

.p-point {
  position: relative; }

.p-point__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 110px 0 42px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/point_male.png);
  background-repeat: no-repeat;
  background-position: right 50px bottom; }

.p-point__title__text {
  position: relative;
  width: 465px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 41px 0 65px;
  text-align: center;
  font-size: 34px;
  background-image: url(../img/point_title_back.png); }

.p-point__title__img {
  position: absolute;
  top: -70px;
  right: 60px; }

.p-point__title__text:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 40px;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 40px;
  /*下線の幅*/
  height: 5px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #11c6e7;
  /*下線の色*/
  z-index: 1; }

/** ポイントコンテンツ **/
.p-point__contents {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px; }

.p-point__contents__over-left {
  position: absolute;
  left: 35px; }

.p-point__contents__img1 {
  width: calc(100% - 85px);
  z-index: 1; }

.p-point__contents__img1__body {
  height: 100%; }

.p-point__contents__inner {
  width: 100%; }

.p-point__contents__text-wrapper1 {
  width: 590px;
  padding: 27px 30px 52px 60px;
  font-size: 16px;
  font-weight: 100;
  background-image: url(../img/point1_3.png);
  background-size: cover;
  background-repeat: no-repeat; }

.p-point__contents__text-wrapper2 {
  padding: 27px 20px 27px 41px;
  font-size: 16px;
  font-weight: 100;
  background-image: url(../img/point2_3.png);
  background-size: cover;
  background-repeat: no-repeat; }

.p-point__contents__text-wrapper3 {
  width: 600px;
  padding: 27px 20px 52px 68px;
  font-size: 16px;
  font-weight: 100;
  background-image: url(../img/point3_3.png);
  background-size: cover;
  background-repeat: no-repeat; }

.p-point__contents__text {
  display: inline-block; }

.p-service {
  position: relative;
  padding: 90px 0 140px;
  background: url(../img/service_male1.png), url(../img/service_male2.png), #fefff0;
  background-repeat: no-repeat, no-repeat;
  background-position: right 170px top 45px, left 45px bottom; }

.p-service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 55px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.p-service__title__text {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px 30px 20px;
  text-align: center;
  font-size: 34px;
  background-image: url(../img/service_title.png);
  background-repeat: no-repeat;
  background-size: cover; }

.p-service__title__text:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 40px;
  /*下線の幅*/
  height: 5px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #11c6e7;
  /*下線の色*/
  z-index: 1; }

.p-service__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.p-service__contents__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none; }

.p-service__contents__item {
  width: 100%;
  padding: 0 15px; }

.p-service__contents__img img {
  width: 100%;
  height: 100%; }

.p-service__contents__text__title {
  display: block;
  font-size: 19px;
  font-weight: 500; }

.p-service__contents__text__body {
  font-size: 16px;
  font-weight: 100; }

.p-service__figure {
  position: absolute; }

.p-service__figure.--first {
  top: -295px;
  left: -100px; }

/** インタビュー **/
.p-interview__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 55px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.p-interview__title__text {
  position: relative;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 50px 145px 20px;
  text-align: center;
  font-size: 34px;
  background-image: url(../img/interview_title.png);
  background-repeat: no-repeat;
  background-size: cover; }

.p-interview__title__text:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  /*下線の上下位置調整*/
  display: inline-block;
  width: 40px;
  /*下線の幅*/
  height: 5px;
  /*下線の太さ*/
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translate(-50%);
  /*位置調整*/
  background-color: #11c6e7;
  /*下線の色*/
  z-index: 1; }

.p-interview__figure__img {
  position: absolute;
  top: -330px;
  right: 30px; }

.p-interview__contents1 {
  position: relative;
  background-image: url(../img/interview_contents1_inner.png);
  background-repeat: no-repeat;
  z-index: 1; }

.p-interview__contents1-inner1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding: 186px 0 23px;
  text-align: end; }

.p-interview__contents1-inner2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  bottom: -123px;
  left: 20px; }

.p-interview__contents1-inner2__text {
  margin: 0 3px;
  padding: 10px 2px;
  font-size: 20px;
  font-weight: 500;
  background-color: #fefb42;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr; }

.p-interview__contents1-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  padding: 12px 5px 12px 47px;
  font-size: 19px;
  font-weight: 500;
  background-image: url(../img/interview_more_back.png);
  background-repeat: no-repeat; }

.p-interview__contents1-outer__arrow {
  display: inline-block;
  -ms-flex-item-align: end;
  align-self: flex-end;
  position: relative;
  width: 29px;
  height: 29px;
  margin: 0 10px 0 30px;
  border-radius: 50%;
  background-color: black; }

.p-interview__contents1-outer__arrow::before {
  position: absolute;
  content: "";
  left: 8px;
  top: 14.1px;
  width: 12px;
  height: 1.5px;
  background: #fff; }

.p-interview__contents1-outer__arrow::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 15px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

.p-interview__contents2 {
  position: relative;
  background-image: url(../img/interview_contents2_inner.png);
  background-repeat: no-repeat;
  z-index: 1; }

.p-interview__contents2-inner1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 194px 0 23px; }

.p-interview__contents2-inner2 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  bottom: -150px;
  right: 45px; }

.p-interview__contents2-inner2__text {
  margin: 0 3px;
  padding: 10px 2px;
  font-size: 20px;
  font-weight: 500;
  background-color: #fefb42;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr; }

.p-interview__contents2-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 12px 5px 12px 47px;
  font-size: 19px;
  font-weight: 500;
  background-image: url(../img/interview_more_back.png);
  background-repeat: no-repeat; }

.p-interview__contents2-outer__arrow {
  display: inline-block;
  -ms-flex-item-align: end;
  align-self: flex-end;
  position: relative;
  width: 29px;
  height: 29px;
  margin: 0 10px 0 30px;
  border-radius: 50%;
  background-color: black; }

.p-interview__contents2-outer__arrow::before {
  position: absolute;
  content: "";
  left: 8px;
  top: 14.4px;
  width: 12px;
  height: 1.5px;
  background: #fff; }

.p-interview__contents2-outer__arrow::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 15px;
  width: 6px;
  height: 6px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/** オススメ **/
.p-recommended {
  padding-bottom: 260px;
  background: url(https://placehold.jp/2ef00c/ffffff/450x300.png?text=%E4%BA%BA%E7%89%A9) #cbf3ff;
  background-repeat: no-repeat;
  background-position: left bottom; }
  .p-recommended__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
    padding-bottom: 25px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .p-recommended__title__text {
    position: relative;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 120px 270px 30px;
    text-align: center;
    font-size: 34px;
    background-image: url(../img/recommended_title.png);
    background-repeat: no-repeat;
    background-size: cover; }
  .p-recommended__title__text:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    /*下線の上下位置調整*/
    display: inline-block;
    width: 40px;
    /*下線の幅*/
    height: 5px;
    /*下線の太さ*/
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translate(-50%);
    /*位置調整*/
    background-color: #11c6e7;
    /*下線の色*/
    z-index: 1; }
  .p-recommended__arrow {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 0 10px 0 30px;
    border-radius: 50%;
    background-color: black; }
    .p-recommended__arrow:hover {
      opacity: .7; }
  .p-recommended__arrow::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 3px;
    background: #fff; }
  .p-recommended__arrow::after {
    position: absolute;
    content: "";
    top: 20px;
    left: 29px;
    width: 12px;
    height: 12px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff; }
  .p-recommended__arrow.--right {
    left: -100px;
    top: calc(50% - 50px); }
  .p-recommended__arrow.--right::before {
    left: 18px;
    top: 28.5px; }
  .p-recommended__arrow.--right::after {
    top: 24px;
    left: 16px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .p-recommended__arrow.--left {
    right: -100px;
    top: calc(50% - 50px); }
  .p-recommended__arrow.--left::before {
    left: 17px;
    top: 28.5px; }
  .p-recommended__arrow.--left::after {
    top: 24px;
    left: 34px;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg); }
  .p-recommended__contents {
    position: relative; }
  .p-recommended__contents__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .p-recommended__contents__item {
    position: relative;
    width: 360px;
    padding: 30px 40px;
    background-repeat: no-repeat;
    background-size: contain; }
  .p-recommended__contents__item.--first {
    margin-right: 5px;
    background-image: url(../img/recommended_item1_back.png); }
  .p-recommended__contents__item.--second {
    margin-right: 15px;
    background-image: url(../img/recommended_item2_back.png); }
  .p-recommended__contents__item.--third {
    margin-top: -10px;
    padding-top: 40px;
    padding-bottom: 32px;
    background-image: url(../img/recommended_item3_back.png); }
  .p-recommended__contents__category {
    position: absolute;
    top: 0;
    left: 0; }
  .p-recommended__contents__title {
    margin: 15px 0 5px;
    text-align: center;
    font-size: 25px;
    font-weight: 500; }
  .p-recommended__contents__meta-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 7px 0; }
  .p-recommended__contents__meta {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 10px;
    white-space: nowrap;
    background-color: #fefb42; }

/*** FAQ ***/
/** コンテンツレイアウト **/
.faq .p-content__title {
  background-repeat: no-repeat; }

.faq .p-content__title__text {
  margin: 0 auto;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat; }

.faq .p-content__item {
  width: 100%;
  max-width: unset;
  margin: 27px 0;
  padding: 4px;
  color: #fff;
  background-color: #45c5ea; }

.faq .p-content__item.--first {
  margin-top: 0; }

.faq .p-content__item.--last {
  margin-bottom: 0; }

.faq .p-content__item input:checked ~ div {
  margin-top: 7px;
  padding: 22px 15px 30px 30px; }

.faq .p-content__item input:checked + label > span {
  border-top: none;
  border-bottom: 15px solid #ffffff; }

.faq .p-content__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  background-color: #45c5ea; }

.faq .p-content__caption__text {
  width: 100%;
  margin: 10px 0; }

.faq .p-content__arrow {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 15px solid #fff; }

.faq .p-content__contents-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff; }

.faq .p-content__contents {
  margin-left: 20px;
  padding-top: 8px; }

.faq .p-content__contents-inner {
  margin-bottom: 15px; }

.faq .p-content__contents__text {
  display: block;
  color: #000; }

.faq .p-content__contents__text.--title {
  color: #45c5ea;
  font-weight: bold;
  font-size: 20px; }

.faq .p-content__contents__shedule img {
  height: 165px; }

/** バナー **/
.faq .p-banner {
  height: 361px;
  background-image: url(https://placehold.jp/1366x361.png);
  background-size: cover;
  background-repeat: no-repeat; }
  .faq .p-banner__inner {
    text-align: center;
    padding: 66px 0 13px; }
  .faq .p-banner__title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: .67em auto;
    padding: 10px 30px 19px 20px;
    background-image: url(https://placehold.jp/e8e83f/ffffff/1100x260.png);
    background-size: cover;
    background-repeat: no-repeat; }
  .faq .p-banner__text-wrapper {
    padding-bottom: 12px; }
  .faq .p-banner__text {
    display: block; }
  .faq .p-banner__pankuzu-wrapper {
    height: 88px;
    background-image: url(https://placehold.jp/3d4070/ffffff/1366x88.png);
    background-size: cover;
    background-repeat: no-repeat; }
  .faq .p-banner__pankuzu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 16px; }
  .faq .p-banner__pankuzu__text {
    padding-right: 3px; }

/** ナビゲーション **/
.faq .p-navigation {
  background-color: #fffbcc; }
  .faq .p-navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .faq .p-navigation__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 25%;
    margin: 22px 0 30px;
    margin-right: 20px;
    padding: 9px 0;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px #45c5ea;
    box-shadow: 4px 4px #45c5ea;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s; }
    .faq .p-navigation__item:nth-child(4) {
      margin-right: 0; }
    .faq .p-navigation__item:hover {
      opacity: 0.5; }
  .faq .p-navigation__text {
    width: 100%;
    text-align: center;
    font-weight: bold; }
  .faq .p-navigation__icon {
    width: 26px;
    height: 23px;
    margin-right: 10px; }

/** お部屋探し **/
.faq .p-room {
  counter-reset: number; }
  .faq .p-room__title {
    padding: 95px 0 68px;
    background-image: url(https://placehold.jp/4cdb58/ffffff/250x260.png?text=%E4%BA%BA%E7%89%A9);
    background-position: right 40px bottom; }
  .faq .p-room__title__text {
    width: 410px;
    padding: 66px 0 41px;
    background-image: url(https://placehold.jp/3d4070/ffffff/400x200.png); }
  .faq .p-room__caption__text::before {
    counter-increment: number;
    content: "Q" counter(number) ". "; }

/** お申込み **/
.faq .p-contact {
  counter-reset: number; }
  .faq .p-contact__title {
    padding: 155px 0 67px;
    background-image: url(https://placehold.jp/07db00/ffffff/175x255.png?text=%E4%BA%BA%E7%89%A9);
    background-position: left 20px bottom; }
  .faq .p-contact__title__text {
    width: 610px;
    padding: 66px 0 41px;
    background-image: url(https://placehold.jp/ffff00/ffffff/610x200.png); }
  .faq .p-contact__caption__text::before {
    counter-increment: number;
    content: "Q" counter(number) ". "; }

/** 引っ越し **/
.faq .p-moving {
  counter-reset: number; }
  .faq .p-moving__title {
    padding: 126px 0 68px;
    background-image: url(https://placehold.jp/37ff14/ffffff/265x245.png?text=%E4%BA%BA%E7%89%A9);
    background-position: right 15px bottom; }
  .faq .p-moving__title__text {
    width: 540px;
    padding: 66px 0 41px;
    background-image: url(https://placehold.jp/ffff14/ffffff/540x200.png); }
  .faq .p-moving__caption__text::before {
    counter-increment: number;
    content: "Q" counter(number) ". "; }

/** 引っ越し **/
.faq .p-other {
  counter-reset: number; }
  .faq .p-other__title {
    padding: 135px 0 70px;
    background-image: url(https://placehold.jp/37ff14/ffffff/270x240.png?text=%E4%BA%BA%E7%89%A9);
    background-position: right 15px bottom; }
  .faq .p-other__title__text {
    width: 370px;
    padding: 66px 0 41px;
    background-image: url(https://placehold.jp/ffff00/ffffff/370x200.png); }
  .faq .p-other__caption__text::before {
    counter-increment: number;
    content: "Q" counter(number) ". "; }
