@charset "UTF-8";
/** ハンバーガー **/
.l-hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 15%; }
  .l-hamburger div {
    height: 100%; }
  .l-hamburger div:nth-child(n + 1) {
    border-bottom: 2px solid #fff; }
