/** バナー **/

.faq {
  .p-banner {
    height: 361px;
    background-image: url(https://placehold.jp/1366x361.png);
    background-size:cover;
    background-repeat: no-repeat;

    &__inner {
      text-align: center;
      padding: 66px 0 13px;
    }

    &__title {
      width: fit-content;
      margin: .67em auto;
      padding: 10px 30px 19px 20px;
      background-image: url(https://placehold.jp/e8e83f/ffffff/1100x260.png);
      background-size:cover;
      background-repeat: no-repeat;
    }

    &__text-wrapper {
      padding-bottom: 12px;
    }

    &__text {
      display: block;
    }

    &__pankuzu-wrapper {
      height: 88px;
      background-image: url(https://placehold.jp/3d4070/ffffff/1366x88.png);
      background-size:cover;
      background-repeat: no-repeat;
    }

    &__pankuzu {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #fff;
      font-size: 16px;
    }

    &__pankuzu__text {
      padding-right: 3px;
    }
  }
}
