/** お申込み **/

.faq {
  .p-contact {
    counter-reset: number;
    &__title {
      padding: 155px 0 67px;
      background-image: url(https://placehold.jp/07db00/ffffff/175x255.png?text=%E4%BA%BA%E7%89%A9);
      background-position: left 20px bottom;
    }

    &__title__text {
      width: 610px;
      padding: 66px 0 41px;
      background-image: url(https://placehold.jp/ffff00/ffffff/610x200.png);
    }

    &__caption__text::before {
      counter-increment: number;
      content: "Q" counter(number) ". ";
    }
  }
}
