/** 引っ越し **/

.faq {
    .p-other {
      counter-reset: number;
      &__title {
        padding: 135px 0 70px;
        background-image: url(https://placehold.jp/37ff14/ffffff/270x240.png?text=%E4%BA%BA%E7%89%A9);
        background-position: right 15px bottom;
      }
  
      &__title__text {
        width: 370px;
        padding: 66px 0 41px;
        background-image: url(https://placehold.jp/ffff00/ffffff/370x200.png);
      }
  
      &__caption__text::before {
        counter-increment: number;
        content: "Q" counter(number) ". ";
      }
    }
  }
  